body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #333;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculator {
  background: #1c1c1c;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
}

.display {
  grid-column: span 4;
  background: #222;
  color: white;
  padding: 10px;
  text-align: right;
  border-radius: 0px;
  cursor: pointer;
  font-size: 2rem;
  border: 2px solid #333;
}

.btn {
  background: #2d2d2d;
  color: white;
  border: none;
  padding: 20px;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
}

.btn:active {
  background: #4d4d4d;
}

.operation {
  background: #fe9241;
}

.equals {
  background: #0052cc;
  grid-column: span 2;
}

.zero {
  grid-column: span 2;
}

.clear, .backspace, .percent, .operation, .equals {
  background: #131313;
  color: white;
}

.btn:not(.operation):not(.equals):hover {
  background: #404040;
}

.equals:hover {
  background: #0066ff;
}